body {
  font: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

a {
  color: #00B7FF;
}

.container{
  min-width:99vw !important;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.container2{
/* border:1px solid red; */
justify-content: center !important;
align-items: center !important;
text-align: center !important;
min-height: 90vh;
max-height: 90vh;

}

.textDivTitleLogin{
  max-width:100%;
  min-width: 100%;
}

.btn-small {
  color: #fff !important;
  background-color: #850310 !important;
  border-color: #850310 !important;
  height: 25px !important;
  line-height: 0 !important;
  font-size: 12px !important;
  margin-top:8px !important;
}

.btn-small2 {
  color: #fff !important;
  background-color: #850310 !important;
  border-color: #850310 !important;
  height: 25px !important;
  line-height: 0 !important;
  font-size: 12px !important;
  margin-top:-3px;
}

#form{
  min-width: 500px;
  max-width: 500px;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.divButtonsGraphCoin{
  /* border:1px solid red; */
  margin-left:1px;
  padding:65px;
  color:white;
  justify-content: center;
  
}
.divButtonGraphCoinInsider{
  /* border:1px solid red; */
  padding:10px;
}

.btnInputIndex{
  margin-bottom:10px;
}

#maxPrice{
  color:rgb(4, 102, 61);
  text-align: center;
  width:140px;
}

#minPrice{
  color:#850310;
  text-align: center;
  width:140px;
}

#borderDivHolder{
  min-width: 50vw !important;
  min-width: 50vw !important;
  padding: 50px 50px;
  border: 2px solid rgb(0, 0, 0);
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  border-radius: 50px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p.error{
  margin-top: 0;
  margin-bottom: 0;
}

.maxWidthInput{
  width: 500px;
}

#ulNavbar{
  width: 100% !important;
  justify-content:right;
}

/* Validation side client */
/* input:invalid {
  border: 2px solid red;
}

input:invalid:required {
  box-shadow: 0 0 5px 1px red;
}

input:valid {
  border: 2px solid black;
} */

/* canvas{
  width: 80vw;
  height: 80vh !important;
  margin-bottom:3%;
} */
#modalExampleDashboard{
  margin-top: 30vh;
}

.dashboardTittle{
  padding:50px 0 !important;
}

#logoImageCorporation{
  width: 200px;
  height: 100px;
}

#myChart{
  height: 70vh !important;
  width: 70vw !important;
  margin:0 auto !important;
}
#myChartTwo{
  height: 70vh !important;
  padding: 50px;
  background-color: white !important;
}

/* .toHideRow:nth-child(0+10){
  display:none;
} */

.clearA{
  text-decoration:none !important;
}

#divMarginDifference{
  padding:0 30px 0 20px !important;
}

.marginRight10{
  margin-left:20px !important;
}

.colorGrey{
  color:#858484 !important;
}

.chartDiv{
  min-width: 500px !important;
  max-width: 500px !important;
}

.breadcrumb-item{
  font-size:14px !important;
}

#downloadPdf{
  margin-bottom:10px;
}

#tableListCurrency td{ 
  padding: 0 !important;
  vertical-align: inherit !important;
}

#typeChart{
  margin: 0 auto;
  width: 500px;
}

.currencyDivList{
  padding:50px 0 !important;
}

#modalContentAdd{
  background-color: #96afd1;
}

#modalContentRemoveCr{
  background-color: #f09393;
}

#myInput{
  width:400px !important;
}

#breadcrumbs{
  background-color: rgb(216, 216, 216);
  padding: 0 !important;
}

.disabledA{
  font-size:14px;
  padding-right: 0 !important;
}

#favoriteCoinsTable{
  margin: 0 !important;
}

.imageButtonBin{
  max-width: 100px;
  min-width: 100px;
}


.theaddarkHeader{
  background: rgb(19, 18, 18);
  color:white;
}
/* https://www.w3.org/TR/selectors-3/#attribute-substrings 
https://rpbouman.blogspot.com/2015/04/css-tricks-for-conditional-formatting.html*/
td[data-monetary-amount^="-"] {
  color: red !important;
}

.border-btn-danger{
  border:3px solid rgb(182, 3, 3) !important;
  color:white !important;
}

.starIcon{
  color:rgb(180, 180, 6);
  border: none !important;
  background:none !important;
}

.bustarIcontton:hover, .starIcon:focus {
  outline: none;
}

.starCrypto:hover{
  width: 20px;       
  height:20px; 
  color:rgb(216, 216, 36);

}